#!/usr/bin/env bash
set -e
exec ./logos/bin/logoscore \
    -m ./modules \
    --load-modules {{ logos_node_modules | join(',') }} \
{% for cmd in logos_node_module_commands %}
    -c "{{ cmd }}" \
{% endfor %}
    "$@"