{
  "entryLayer": "kernel",
  "kernelConf": {
    "tcpPort": {{ logos_node_delivery_p2p_tcp_port }},
    "discv5UdpPort": {{ logos_node_delivery_discv5_udp_port }},
{% if logos_node_delivery_key is defined %}
    "nodekey": "{{ logos_node_delivery_key }}",
{% endif %}
    "clusterId": {{ logos_node_delivery_cluster_id }},
    "numShardsInNetwork": {{ logos_node_delivery_num_shards_in_network }},
    "maxConnections": {{ logos_node_delivery_max_connections }},
{% for proto in logos_node_delivery_protocols_available %}
    "{{ proto }}": {{ (proto in logos_node_delivery_protocols_enabled) | to_json }},
{% endfor %}
    "logLevel": "{{ logos_node_log_level }}",
{% if 'store' in logos_node_delivery_protocols_enabled and logos_node_delivery_store_db_url %}
    "storeMessageDbUrl": "{{ logos_node_delivery_store_db_url }}",
    "storeMessageRetentionPolicy": "{{ logos_node_delivery_store_retention_policy }}",
{% endif %}
{% if 'mix' in logos_node_delivery_protocols_enabled and logos_node_delivery_mix_key is defined %}
    "mixkey": "{{ logos_node_delivery_mix_key }}",
{% endif %}
{% if logos_node_delivery_websocket_enabled %}
    "websocketSupport": true,
    "websocketPort": {{ logos_node_delivery_websocket_port }},
{% if logos_node_delivery_websocket_secure_enabled %}
    "websocketSecureSupport": true,
    "websocketSecureKeyPath": "/etc/letsencrypt/live/{{ logos_node_delivery_websocket_domain }}/privkey.pem",
    "websocketSecureCertPath": "/etc/letsencrypt/live/{{ logos_node_delivery_websocket_domain }}/fullchain.pem",
{% endif %}
{% endif %}
    "discv5Discovery": {{ logos_node_delivery_discv5 | to_json }},
    "nat": "extip:{{ logos_node_public_address }}",
    "extMultiaddrs": ["/dns4/{{ logos_node_delivery_dns4_domain_name }}/tcp/{{ logos_node_delivery_p2p_tcp_port }}"],
    "enableKadDiscovery": {{ logos_node_delivery_kad_discovery | to_json }},
    "kadBootstrapNodes": {{ logos_node_delivery_kad_bootstrap_nodes | to_json }}
  }
}